@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@100;200;300;400;500;600;700&display=swap');


:root {
	/* Color Palette */
	--primary: #051034;
	--primaryHover: #0c257b;
	--text: #000000;
	--secondaryText: #717070;
	--negative: #ffffff;
	--lightGradient: linear-gradient(180deg, #132860 0%, #377ede 100%);
	--darkGradient: linear-gradient(180deg, #095eb3 0%, #2464f4 100%);
	--shadow: #062d3f;
	--dark: #2C170B;
	--highlight: #7188b2;
	--lightColor: #e3fffa;
	--accent: #023af3;
	--accentHover: #90c7fe;

	/* Box Shadow */
	--shadow: 0 5px 15px 7px rgba(0, 0, 0, 0.06);
	--shadowHover: 0 0 20px 10px rgba(0, 0, 0, 0.15);

	/* Margin and Padding */
	--spaceXXL: 48px;
	--spaceXL: 32px;
	--spaceLG: 24px;
	--spaceMD: 15px;
	--spaceSM: 10px;
	--spaceXS: 5px;

	/* Border Radius */
	--roundXXL: 64px;
	--roundXL: 32px;
	--roundLG: 24px;
	--roundMD: 16px;
	--roundSM: 8px;
	--roundXS: 4px;

	/* Typesize */
	--xxl: 2rem;
	--xl: 1.5rem;
	--lg: 1.2rem;
	--md: 1rem;
	--sm: .9rem;
	--xsm: .7rem;

	/* Type Weight */
	--bold: 700;
	--semiBold: 600;
	--medium: 500;
	--regular: 400;
	--light: 300;
}




/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}


/**********************************************************/


h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--text);
}

h1 {
	font-size: var(--xxl);
	font-weight: var(--bold);
	letter-spacing: 2px;
}

h2 {
	font-size: var(--xl);
	font-weight: var(--semiBold);
}

h3 {
	font-size: var(--lg);
	font-weight: var(--light);
}

h4 {
	font-size: var(--md);
	font-weight: var(--medium);
}

p {
	font-size: var(--sm);
	font-weight: var(--regular);
}

ins {
	text-decoration: none;
	background-color: #14ffe2;
	-webkit-animation: insAnimation 5s infinite alternate;
	animation: insAnimation 5s infinite alternate;
	padding: 10px;
}

@keyframes insAnimation {
	from {
		background-color: rgba(20, 255, 226, 0.33);
	}

	to {
		background-color: #14ffe2;
	}
}


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	cursor: none;

}

body {
	background: #F2F2F2;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* PROGRESS BAR*/
.progress {
	height: 3px;
	width: 0%;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	animation: progress 1s linear;
}

@keyframes progress {
	to {
		background-color: #14ffe2;
		width: 100%;
	}
}

:root * {
	/* Pause the animation */
	animation-play-state: paused;
	/* Bind the animation to scroll */
	animation-delay: calc(var(--scroll) * -1s);
	/* These last 2 properites clean up overshoot weirdness */
	animation-iteration-count: 1;
	animation-fill-mode: both;
}

/* go to top */
#goToTop {
	display: blcok;
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 1.2rem;
	border: 2px black solid;
	color: black;
	padding: 15px;
	border-radius: 100px;
}

#goToTop a{
	padding: 10px;
	text-decoration: none;
	color: black;
}
	


/*Underline*/
.underlined {
	position: relative;
	margin-right: 1rem;
}

.underlined:after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 12px;
	width: 100%;
	border: solid 2px;
	border-color: #000000 transparent transparent transparent;
	border-radius: 50%;
}



/* Nav bar*/
nav {
	display: flex;
	justify-content: space-between;
	width: 90%;
	min-height: 10vh;
	align-items: center;
	margin: auto;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	list-style: none;
	letter-spacing: .1rem;

}

.nav-links,
nav h1 {
	flex: 1;
}

nav h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 1rem;
}

.nav-links li {
	padding: .2rem;
	font-size: 0.8rem;
}

.nav-links li a {
	font-weight: 600;
	text-decoration: none;
	color: black;
}

.cursor {
	width: .8rem;
	height: .8rem;
	background: black;
	border: 1px solid black;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.3s ease;
	transition-property: background, transform;
	transform-origin: 100% 100%;
	z-index: -1;
}

.link-effect {
	transform: scale(2.6);
	background: #14ffe2;
	border: none;
}

.hoverred-link {
	/* color: #ffffff; */
}

.home-img img {
	position: relative;
	z-index: -3;

}

.home-section {
	display: flex;
	justify-content: space-between;
	width: 90%;
	min-height: 90vh;
	align-items: center;
	margin: auto;
}

.home-linkdin img {
	margin-top: 450px;
	width: 100px;
	object-fit: scale-down;
	transform: rotateZ(270deg);
}

.home-img {
	margin-left: 150px;
	background: linear-gradient(180deg, rgba(255, 254, 254, 0.6) 0%, rgba(255, 255, 255, 0) 50%);
}

.home-img img {
	height: 550px;
	width: 400px;
	object-fit: cover;
	filter: grayscale(100%);

}

.home-desc h1 {
	font-size: 3rem;
	margin-top: -150px;
	margin-left: -125px;
}


.home-desc p {
	padding: 10px 30px;
	width: 85%;
	font-weight: 300;
	font-size: 1.6rem;
	color: #262626;
}


/* Education */
.education-section-div h1 {
	font-weight: 300;
	margin-right: 100px;
	float: right;
}

.education-section-div div {
	clear: both;
	width: 90%;
	padding: 20px 100px;
	margin: 0 auto;
}

.education-section-div h3 {
	font-weight: bold;
	position: relative;
	display: inline;
	background-color: rgba(20, 255, 226, 0.33);
}

.education-section-div h3::before {
	content: "-";
	width: 0;
	position: absolute;
	left: -20px;
}

.education-section-div p:first-of-type {
	font-weight: 300;
}



/* SKILL SECTION */
.skill-section-div {
	position: relative;
}

.skill-section-div h1 {
	font-weight: 300;
	margin-right: 100px;
	float: right;
}

.skill-section {
	clear: both;
	display: flex;
	width: 90%;
	align-items: center;
	margin: auto;
}

.skill-chart {
	width: 70%;
	padding: 40px 0;

}

.skill-links {
	border-left: 4px solid black;
	padding-left: 20px;
}


.skill-links li {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	letter-spacing: .2rem;
	list-style: none;
	margin-top: 10px;
}




/* Work Experience */
.work-section-div h1 {
	font-weight: 300;
	margin-right: 100px;
	float: right;
}

.work-section-div div {
	clear: both;
	width: 90%;
	padding: 40px 100px;
	margin: 0 auto;
}

.work-section-div h3 {
	font-weight: bold;
	position: relative;
	display: inline;
	background-color: rgba(20, 255, 226, 0.33);
}

.work-section-div h3::before {
	content: "-";
	width: 0;
	position: absolute;
	left: -20px;
}

.work-section-div p:first-of-type {
	font-weight: 300;
}

.work-section-div a {
	color: black;
}


